.character-import-text {
    min-height: 5em;
    margin-bottom: 1em;
}

.character-import-message {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    color: darkred;
}

.character-import-name.invalid-code {
    color: darkred;
}
